{%TEMPLATE->head%}
{%TEMPLATE->menu%}
<h2>Agents ([[numAgents]])</h2>
[[message]]
<div class="panel panel-default">
	<table class="table table-bordered table-nonfluid">
		<tr>
			<th>Id</th>
			<th>Act</th>
			<th>Name / Owner</th>
			<th>GPU brand / Driver</th>
			<th>GPUs</th>
			<th>Hashcat</th>
			<th>Last activity</th>
			<th>Assignment</th>
			<th>Action</th>
		</tr>
		{{FOREACH set,!!sets!!}}
			<tr>
				<td><a href="agents.php?id=[[set.getVal('id')]]">[[set.getVal('id')]]</a></td>
				<td>
					<form id="active[[set.getVal('id')]]" action="agents.php" method="post">
						<input type='hidden' name='action' value='agentactive'>
        				<input type="hidden" name="agent" value="[[set.getVal('id')]]">
        				<input type="checkbox" {{IF !!set.getVal('active')!! == 1}} checked{{ENDIF}} onChange="javascript:document.getElementById('active[[set.getVal('id')]]').submit();">
        			</form>
        		</td>
        		<td>
        			<a href="agents.php?id=[[set.getVal('id')]]">[[set.getVal('name')]]</a>
        			{{IF !!set.getVal('trusted')!! == 1}}
        				<img src="static/lock.gif" alt="Trusted">
        			{{ENDIF}}
        			{{IF !!set.getVal('working')!! == 1}}
        				<img src="static/active.gif" alt="Active" title="[[Util::nicenum(%%set.getVal('speed')%%, 100000, 1000)]]H/s">
        			{{ENDIF}}
        			{{IF !!set.getVal('active')!! == 0}}
        				<img src="static/pause.gif" alt="Paused">
        			{{ENDIF}}
        			<br>
        			{{IF !!set.getVal('userId')!! > 0}}
        				[[Util::getUsernameById(%%set.getVal('userId')%%)]]
        			{{ENDIF}}
        			{{IF !!set.getVal('userId')!! <= 0}}
        				---
        			{{ENDIF}}
        		</td>
        		<td>[[Util::getStaticArray(%%set.getVal('gpubrand')%%, 'platforms')]] / [[set.getVal('gpudriver')]]</td>
        		<td>
	        		{{FOREACH gpu,!!set.getVal('gpus')!!}}
	        			[[Util::shortenstring(%%gpu%%, 20)]]<br>
	        		{{ENDFOREACH}}
        		</td>
        		<td>[[set.getVal('hcversion')]]</td>
        		<td>
        			[[set.getVal('lastact')]] at <br>
        			[[date(%%config.getVal('timefmt')%%, %%set.getVal('lasttime')%%)]]<br>
        			IP: [[set.getVal('lastip')]]
        		</td>
        		<td>
        			<form id="assign[[set.getVal('id')]]" action="agents.php" method="post">
        				<input type='hidden' name='action' value='agentassign'>
        				<input type='hidden' name='agent' value='[[set.getVal('id')]]'>
        				<select name='task' size='1' onChange="javascript:document.getElementById('assign[[set.getVal('id')]]').submit();">
        					<option value="">(unassigned)</option>
        					{{FOREACH task,!!allTasks!!}}
        						<option value='[[task.getVal('id')]]'{{IF !!task.getVal('id')!! == !!set.getVal('task')!!}} selected{{ENDIF}}>[[task.getVal('name')]]</option>
        					{{ENDFOREACH}}
        				</select>
        			</form>
        		</td>
        		{{IF !!login.getLevel()!! >= 30}}
	        		<td>
	        			<form action="agents.php" method="POST" onSubmit="if (!confirm('Really delete agent [[set.getVal('id')]]?')) return false;">
	        				<input type='hidden' name='action' value='agentdelete'>
	        				<input type="hidden" name="agent" value="[[set.getVal('id')]]">
	        				<input type="submit" class='btn btn-danger' value="Delete">
	        			</form>
	        		</td>
        		{{ENDIF}}
        		{{IF !!login.getLevel()!! < 30}}
        			<td>&nbsp;</td>
        		{{ENDIF}}
		{{ENDFOREACH}}
	</table>
</div>
{%TEMPLATE->foot%}
