		</div>
		<div class='container'>
			<hr>
			<footer class="footer">
				<b>Hashtopussy: commit [[gitcommit]] BETA - <a href='about.php'>About</a></b>
				<p>&copy;2014-2016 s3in!c and curlyboi - <a href='https://bitbucket.org/seinlc/hashtopussy/' target='_blank'>Hashtopussy</a> / <a href='https://github.com/curlyboi/hashtopus/' target='_blank'>Hashtopus</a></p>
			</footer>
			<script src="static/jquery.min.js"></script>
			<script src="static/bootstrap.min.js"></script>
		</div>
	</body>
</html>