{%TEMPLATE->head%}
{%TEMPLATE->menu%}
<h2>Forgot password</h2>
[[message]]
<div class='alert alert-neutral'>
    <div class='col-md-3'></div>
    <div class='col-md-6'>
    	<br>
    	<form action='forgot.php' method='post' class="form-horizontal">
    		<input type='hidden' name='action' value='resetpassword'>
			<div class="form-group">
				<label for="inputUsername" class="col-sm-2 control-label">Username</label>
				<div class="col-sm-10">
					<input name='username' type="text" class="form-control" id="inputUsername" placeholder="Username">
				</div>
			</div>
			<div class="form-group">
				<label for="inputEmail" class="col-sm-2 control-label">Email</label>
				<div class="col-sm-10">
					<input name='email' type="email" class="form-control" id="inputEmail" placeholder="Email">
				</div>
			</div>
			<div class="form-group">
			  	<div class="col-sm-offset-2 col-sm-10">
			    	<button type="submit" class="btn btn-success">Send new password</button>
			  	</div>
			</div>
		</form>
    </div>
    <div class='col-md-3'></div>
</div>
{%TEMPLATE->foot%}
