<select name="filter" class='form-control'>
	{{FOREACH filter,!!filters!!}}
		<option value='[[filter.getVal('id')]]'{{IF !!filter.getVal('id')!! == !!filtering!!}} selected{{ENDIF}}>[[filter.getVal('text')]]</option>
	{{ENDFOREACH}}
</select>