{%TEMPLATE->head%}
{%TEMPLATE->menu%}
{{IF !!src!! == "chunk"}}
	<h2>Hashes of chunk [[chunk.getVal('id')]]</h2>
{{ENDIF}}
{{IF !!src!! == "task"}}
	<h2>Hashes of task <a href="tasks.php?id=[[task.getVal('id')]]">[[task.getVal('name')]]</a></h2>
{{ENDIF}}
{{IF !!src!! == "hashlist"}}
	<h2>Hashes of hashlist <a href="hashlists.php?id=[[list.getVal('id')]]">[[list.getVal('name')]]</a></h2>
{{ENDIF}}
[[message]]

<div class="panel panel-default">
	<table class="table table-bordered table-nonfluid">
		<tr>
			<th>Filter:</th>
			<td>
				{{IF !!filtering!! == ""}}
					Cracked + Uncracked
				{{ENDIF}}
				{{IF !!filtering!! != ""}}
					[[filtering]]
				{{ENDIF}}
			</td>
		</tr>
		<tr>
			<th>Displaying:</th>
			<td>
				{{IF !!displaying!! == ""}}
					Hash + Plain
				{{ENDIF}}
				{{IF !!displaying!! != ""}}
					[[displaying]]
				{{ENDIF}}
			</td>
		</tr>
	</table>
</div>
<form class='form-inline' action='hashes.php' method='get'>
	<input type='hidden' name='[[src]]' value='[[srcId]]'>
	<div class="panel panel-default">
		<table class="table table-bordered table-nonfluid">
			<tr>
				<td>
					{%TEMPLATE->hashes.selection%}&nbsp;&nbsp;
					<input type="submit" class='form-control' value="OK">
				</td>
			</tr>
		</table>
	</div>
</form>
<h3>Matching hashes: [[numMatches]]</h3>
<div class="panel panel-default">
	<table class="table table-bordered table-nonfluid">
		<tr>
			<td>
				<pre style='max-height: 400px;' readonly>[[htmlentities(%%matches%%, false, "UTF-8")]]</pre>
			</td>
		</tr>
		<tr>
			<td>
				<script type='text/javascript'>
					function hex2a(hex) { 
						var str = ''; 
						for (var i = 0; i < hex.length; i += 2){
							str += String.fromCharCode(parseInt(hex.substr(i, 2), 16)); 
						}
						return str;
					}
				</script>
				HEX convertor: 
				<form class='form-inline' method='get'>
					$HEX[ <input type="text" class='form-control' id="conv"> ] -> 
					<input type="text" class='form-control' id="convr" readonly> 
					<button class='btn btn-default' onclick="javascript:document.getElementById('convr').value=hex2a(document.getElementById('conv').value); return false;">Convert</button>
				</form>
			</td>
		</tr>
	</table>
</div>
{%TEMPLATE->foot%}