<select name='display' class='form-control' style='float: left;'>
	{{FOREACH display,!!displays!!}}
		<option value='[[display.getVal('id')]]'{{IF !!display.getVal('id')!! == !!displaying!!}} selected{{ENDIF}}>[[display.getVal('text')]]</option>
	{{ENDFOREACH}}
</select>&nbsp;&nbsp;
{{IF !!src!! == "hashlist"}}
	{%TEMPLATE->hashes.selection.inner%}
{{ENDIF}}