<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		
		<title>Hashtopussy [[version]] [ [[host]] ]</title>
		
		<link href="static/bootstrap.min.css" rel="stylesheet">
		<link href="static/navbar.css" rel="stylesheet">
		<script type="text/javascript" src="jscolor/jscolor.js"></script>
	    
	    {{IF !!autorefresh!! > 0}}
	    	<meta http-equiv="refresh" content="[[autorefresh]]">
	    {{ENDIF}}
	    
	    <script type='text/javascript'>
			function sourceChange(valu) {
				var pasteObject = document
						.getElementById("pasteLine");
				var uploadObject = document
						.getElementById("uploadLine");
				var importObject = document
						.getElementById("importLine");
				var downloadObject = document
						.getElementById("downloadLine");
				switch (valu) {
				case 'paste':
					pasteObject.style.display = '';
					uploadObject.style.display = 'none';
					importObject.style.display = 'none';
					downloadObject.style.display = 'none';
					break;

				case 'upload':
					pasteObject.style.display = 'none';
					uploadObject.style.display = '';
					importObject.style.display = 'none';
					downloadObject.style.display = 'none';
					break;

				case 'import':
					pasteObject.style.display = 'none';
					uploadObject.style.display = 'none';
					importObject.style.display = '';
					downloadObject.style.display = 'none';
					break;

				case 'url':
					pasteObject.style.display = 'none';
					uploadObject.style.display = 'none';
					importObject.style.display = 'none';
					downloadObject.style.display = '';
					break;
				}
			}
			
			function checkAll(formname, checktoggle) {
				var checkboxes = new Array();
				checkboxes = document.getElementById(formname)
						.getElementsByTagName('input');
				for (var i = 0; i < checkboxes.length; i++) {
					if (checkboxes[i].type == 'checkbox') {
						checkboxes[i].checked = checktoggle;
					}
				}
			}
		</script>
	</head>
	<body>
		<div class="container">