{%TEMPLATE->install_head%}
<p>
	Make sure the www user can write the Hashtopussy directory, and click 'Recheck' when you're done.
</p>
<p>
	<a href='index.php?check=again'><button>Recheck</button></a>
</p>
{%TEMPLATE->install_foot%}