{%TEMPLATE->install_head%}
<p>
	DB Connection is ready now, Hashtopussy will now upgrade the database to be able to work with Hashtopussy.
	Click on 'Continue' when you're ready. If you there happens any error there must be a problem.
</p>
<p>
	<a href='index.php?next=true'><button>Continue</button></a>
</p>
{%TEMPLATE->install_foot%}