{%TEMPLATE->install_head%}
<p>
	User should be created successfully now. <br>
	Your installation should be complete now. Please make sure that you protect or delete the 'install' folder. If you use apache2, make sure
	you have the 'AllowOverride All' set for the Hashtopussy directory, if you use nginx make sure to protect these folders: files, import, inc, lang, models, templates.
</p>
<p>
	<a href='../index.php'><button>Continue</button></a>
</p>
{%TEMPLATE->install_foot%}