{%TEMPLATE->install_head%}
<p>
	IMPORTANT:<br>
	Back up your Hashtopus database before you continue, in case anything gets wrong you can recover the previous state!
</p>
<p>
	<a href='index.php?next=true'><button>Understood &amp; Continue</button></a>
</p>
{%TEMPLATE->install_foot%}