{%TEMPLATE->install_head%}
<p>
	<b>DB Connection</b><br>
	Please fill in the form below for the database connection for Hashtopussy.
</p>
{{IF !!failed!!}}
	<p>
		<b>Test connection failed, please try again!</b>
	</p>
{{ENDIF}}
<form action='index.php' method='post'>
	<table border='1'>
		<tr>
			<td>Server hostname</td>
			<td><input type='text' name='server'></td>
		</tr>
		<tr>
			<td>MySQL user</td>
			<td><input type='text' name='user'></td>
		</tr>
		<tr>
			<td>MySQL password</td>
			<td><input type='password' name='pass'></td>
		</tr>
		<tr>
			<td>Database name</td>
			<td><input type='text' name='db'></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td><input type='submit' name='check' value='Continue'></td>
		</tr>
	</table>
</form>
{%TEMPLATE->install_foot%}