<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="index.php">Hashtopussy</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				{{IF !!login.isLoggedin()!! && !!login.getLevel()!! >= 30}}
					<li class="dropdown[[menu.isActive('agents', 'classonly')]]"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Agents <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li[[menu.isActive('agents_list')]]><a href="agents.php">Show Agents</a></li>
							<li[[menu.isActive('agents_new')]]><a href="newagent.php">New Agent</a></li>
						</ul>
					</li>
				{{ENDIF}}
				{{IF !!login.isLoggedin()!! && !!login.getLevel()!! >= 20 && !!login.getLevel()!! < 30}}
					<li[[menu.isActive('agents_list')]]><a href="agents.php">Agents</a></li>
				{{ENDIF}}
				{{IF !!login.isLoggedin()!! && !!login.getLevel()!! >= 20}}
					<li class="dropdown[[menu.isActive('tasks', 'classonly')]]"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tasks <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li[[menu.isActive('tasks_list')]]><a href="tasks.php">Show Tasks</a></li>
							<li[[menu.isActive('tasks_new')]]><a href="newtask.php">New Task</a></li>
							<li[[menu.isActive('tasks_pre')]]><a href="pretasks.php">Pre-conf Tasks</a></li>
							<li[[menu.isActive('tasks_super')]]><a href='supertasks.php'>Supertasks</a></li>
							<li[[menu.isActive('tasks_supernew')]]><a href='newsupertask.php'>New Supertask</a></li>
						</ul>
					</li>
				{{ENDIF}}
				{{IF !!login.isLoggedin()!! && !!login.getLevel()!! > 0 && !!login.getLevel()!! < 5}}
					<li[[menu.isActive('tasks_list')]]><a href="tasks.php">Show Tasks</a></li>
				{{ENDIF}}
				{{IF !!login.isLoggedin()!! && !!login.getLevel()!! >= 5 && !!login.getLevel()!! < 20}}
					<li class="dropdown[[menu.isActive('tasks', 'classonly')]]"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tasks <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li[[menu.isActive('tasks_list')]]><a href="tasks.php">Show Tasks</a></li>
							<li[[menu.isActive('tasks_pre')]]><a href="pretasks.php">Pre-conf Tasks</a></li>
						</ul>
					</li>
				{{ENDIF}}
				{{IF !!login.isLoggedin()!! && !!login.getLevel()!! >= 20}}
					<li class="dropdown[[menu.isActive('lists', 'classonly')]]"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lists <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li[[menu.isActive('lists_norm')]]><a href="hashlists.php">Hashlists</a></li>
							<li[[menu.isActive('lists_new')]]><a href="newhashlist.php">New hashlist</a></li>
							<li[[menu.isActive('lists_super')]]><a href="superhashlists.php">Superhashlists</a></li>
							<li[[menu.isActive('lists_snew')]]><a href="newsuperhashlist.php">New superhashlist</a></li>
						</ul>
					</li>
				{{ENDIF}}
				{{IF !!login.isLoggedin()!! && !!login.getLevel()!! >= 5 && !!login.getLevel()!! < 20}}
					<li class="dropdown[[menu.isActive('lists', 'classonly')]]"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lists <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li[[menu.isActive('lists_norm')]]><a href="hashlists.php">Hashlists</a></li>
							<li[[menu.isActive('lists_super')]]><a href="superhashlists.php">Superhashlists</a></li>
						</ul>
					</li>
				{{ENDIF}}
				{{IF !!login.isLoggedin()!! && !!login.getLevel()!! >= 20}}
					<li[[menu.isActive('files')]]><a href="files.php">Files</a></li>
				{{ENDIF}}
				{{IF !!login.isLoggedin()!! && !!login.getLevel()!! >= 5}}
					<li[[menu.isActive('chunks')]]><a href="chunks.php">Chunk activity</a></li>
				{{ENDIF}}
				{{IF !!login.isLoggedin()!! && !!login.getLevel()!! >= 30}}
					<li class="dropdown[[menu.isActive('hashcat', 'classonly')]]"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hashcat <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li[[menu.isActive('hashcat_list')]]><a href="hashcat.php">Hashcat releases</a></li>
							<li[[menu.isActive('hashcat_new')]]><a href="newhashcat.php">New Hashcat release</a></li>
						</ul>
					</li>
				{{ENDIF}}
				{{IF !!login.isLoggedin()!! && !!login.getLevel()!! >= 10 && !!login.getLevel()!! < 30}}
					<li[[menu.isActive('hashcat_list')]]><a href="hashcat.php">Hashcat releases</a></li>
				{{ENDIF}}
				{{IF !!login.isLoggedin()!!}}
					<li[[menu.isActive('account')]]><a href="account.php">My Account</a></li>
				{{ENDIF}}
				{{IF !!login.isLoggedin()!! && !!login.getLevel()!! >= 40}}
					<li class="dropdown[[menu.isActive('config', 'classonly')]]"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Config <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li[[menu.isActive('config_server')]]><a href="config.php">Server</a></li>
							<li[[menu.isActive('config_hashtypes')]]><a href="hashtypes.php">Hashtypes</a></li>
						</ul>
					</li>
					<li class="dropdown[[menu.isActive('users', 'classonly')]]"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Users <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li[[menu.isActive('users_list')]]><a href="users.php">All users</a></li>
							<li[[menu.isActive('users_new')]]><a href="newuser.php">New User</a></li>
						</ul>
					</li>
				{{ENDIF}}
				{{IF !!login.isLoggedin()!!}}
					<li[[menu.isActive('fix')]]><a href="fix.php" style='color: #ffa500;'>FIX ME</a></li>
				{{ENDIF}}
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{{IF !!login.isLoggedin()!!}}
					<li><a href="logout.php">Logout</a></li>
				{{ENDIF}}
			</ul>
		</div>
	</div>
</nav>
