{%TEMPLATE->head%}
{%TEMPLATE->menu%}
<h2>New superhashlist</h2>
[[message]]
<form id="newsuper" action="newsuperhashlist.php" method="POST">
	<input type='hidden' name='action' value='newsuperhashlistp'>
	<div class="panel panel-default">
		<table class="table table-bordered table-nonfluid">
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Hash type</th>
			</tr>
			{{FOREACH list,!!lists!!}}
				<tr>
					<td>
						<input type="checkbox" name="hlist[]" value="[[list.getVal('id')]]"> [[list.getVal('id')]]
					</td>
					<td>[[list.getVal('name')]]</td>
					<td>[[list.getVal('hashtype')]]</td>
				</tr>
			{{ENDFOREACH}}
			<tr>
				<td>Name:</td>
				<td colspan="2">
					<input type="text" class='form-control' name="name">
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<input type="submit" class='btn btn-default' value="Create">
					<input type="checkbox" onChange="javascript:checkAll('newsuper',this.checked);"> Select All
				</td>
			</tr>
		</table>
	</div>
</form>
{%TEMPLATE->foot%}
