{%TEMPLATE->head%}
{%TEMPLATE->menu%}
<h2>Use Supertask</h2>
[[message]]
<form class='form-inline' action="newsupertask.php" method="POST">
	<input type='hidden' name='action' value='newsupertask'>
	<input type='hidden' name='supertask' value='[[orig]]'>
	<div class="panel panel-default">
		<table class="table table-bordered table-nonfluid">
			<tr>
				<th>Property</th>
				<th>Value</th>
			</tr>
			<tr>
				<td>Hashlist:</td>
				<td>
					<select class='form-control' name="hashlist">
						{{FOREACH list,!!lists!!}}
							<option value="[[list.getVal('id')]]"{{IF !!list.getVal('id')!! == !!copy.getVal('hlist')!!}} selected{{ENDIF}}>[[list.getVal('name')]]</option>
						{{ENDFOREACH}}
					</select> (hashlist needs to be created before task)
				</td>
			</tr>
     			<tr>
     				<td colspan="2">
     					<input type="submit" class='btn btn-default' value="Create tasks from supertask">
     				</td>
     			</tr>
		</table>
	</div>
</form>
{%TEMPLATE->foot%}