{%TEMPLATE->head%}
{%TEMPLATE->menu%}
<h2>Preconfigured tasks ([[numPretasks]])</h2>
[[message]]
<div class="panel panel-default">
	<table class="table table-bordered table-nonfluid">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Attack command</th>
			<th>Files</th>
			<th>Priority</th>
			<th>Action</th>
		</tr>
		{{FOREACH task,!!tasks!!}}
			<tr>
				<td{{IF !!strlen(%%task.getVal('color')%%)!! > 0}} style="background-color: #[[task.getVal('color')]]{{ENDIF}}>
					<a href="tasks.php?id=[[task.getVal('id')]]">[[task.getVal('id')]]</a>
				</td>
				<td>
					<a href="tasks.php?id=[[task.getVal('id')]]">[[task.getVal('name')]]</a>
        		</td>
        		<td>[[task.getVal('attackcmd')]]</td>
        		<td>
        			{{IF !!task.getVal('filescount')!! > 0}}
        				[[task.getVal('filescount')]] ([[Util::nicenum(%%task.getVal('filesize')%%)]]B)
        			{{ENDIF}}
        			{{IF !!task.getVal('secret')!! == 1}}
        				<img src="static/lock.gif" alt="Secret">
        			{{ENDIF}}	
        		</td>
        		<td>
        			<form class='form-inline' action="tasks.php?pre=true" method="POST">
        				<input type="hidden" name="action" value="taskprio">
        				<input type="hidden" name="task" value="[[task.getVal('id')]]">
        				<input type="text" class='form-control' name="priority" size="4" value="[[task.getVal('priority')]]">
        				<input type="submit" class='btn btn-default' value="Set">
        			</form>
        		</td>
        		<td>
        			<form style='float: left; padding-right: 5px;' action="newtask.php" method="GET">
				        <input type="hidden" name="id" value="[[task.getVal('id')]]">
				        <input type="submit" class='btn btn-default' value="Copy">
				    </form> 

					{{IF !!login.getLevel()!! >= 30}}
				        <form style='float: left;' action="tasks.php" method="POST" onSubmit="if (!confirm('Really delete task $id?')) return false;">
					        <input type="hidden" name="action" value="taskdelete">
					        <input type='hidden' name='refer' value='pretask'>
					        <input type="hidden" name="task" value="[[task.getVal('id')]]">
					        <input type="submit" class='btn btn-danger' value="Delete">
					    </form>
					{{ENDIF}}
				</td>
			</tr>
		{{ENDFOREACH}}
	</table>
</div>
{%TEMPLATE->foot%}
