{%TEMPLATE->head%}
{%TEMPLATE->menu%}
<h2>Create Supertask</h2>
[[message]]
<form class='form-inline' action="newsupertask.php" method="POST">
	<input type='hidden' name='action' value='createsupertask'>
	<div class="panel panel-default">
		<table class="table table-bordered table-nonfluid">
			<tr>
				<td>Name:</td>
				<td>
					<input type='text' name='name' class='form-control'>
				</td>
			</tr>
			<tr>
				<th colspan='2'>Select tasks assigned to this supertask:</th>
			</tr>
			{{FOREACH task,!!preTasks!!}}
				<tr>
					<td>&nbsp;</td>
		           	<td>
		           		<input type="checkbox" name="task[]" value="[[task.getVal('id')]]">
		           		<a href="tasks.php?id=[[task.getVal('id')]]" title="[[task.getVal('attackcmd')]]">[[task.getVal('name')]]</a>
		           	</td>
				</tr>
			{{ENDFOREACH}}
   			<tr>
   				<td colspan="2">
   					<input type="submit" class='btn btn-default' value="Create Supertask">
   				</td>
   			</tr>
		</table>
	</div>
</form>
{%TEMPLATE->foot%}