{{IF !!login.getLevel()!! >= 20}}
	<tr>
		<td colspan="2">
			<form action="agents.php?task=[[task.getVal('id')]]" method="POST">
				<input type="hidden" name="action" value="agentassign">
				<input type="hidden" name="task" value="[[task.getVal('id')]]">
				<select class='form-control' name="agent">
					{{FOREACH agent,!!assignAgents!!}}
						<option value='[[agent.getVal('id')]]'>[[agent.getVal('id')]]
							{{IF !!agent.getVal('name')!! != ""}}
								([[agent.getVal('name')]])
							{{ENDIF}}
					{{ENDFOREACH}}
				</select>
			</td>
			<td colspan="8">
				<input type="submit" class='btn btn-default' value="Assign">&nbsp;&nbsp;&nbsp;
				{{IF !!showAllAgents!!}}
					<a href="tasks.php?id=[[task.getVal('id')]]" class='btn btn-warning'>Hide all Assignments</a>
				{{ENDIF}}
				{{IF ! !!showAllAgents!!}}
					<a href="tasks.php?id=[[task.getVal('id')]]&allagents=true" class='btn btn-success'>Show all Assignments</a>
				{{ENDIF}}
			</form>
		</td>
	</tr>
{{ENDIF}}