{%TEMPLATE->head%}
{%TEMPLATE->menu%}
<h2>Task details</h2>
[[message]]
{%TEMPLATE->tasks.autorefresh%}
{%TEMPLATE->tasks.detail.static%}
		{{IF !!task.getVal('hashlist')!! != ""}}
			{%TEMPLATE->tasks.detail.part1%}
		{{ENDIF}}
	</table>
</div>
{{IF !!sizeof(%%attachFiles%%)!! > 0}}
	{%TEMPLATE->tasks.detail.attached%}
{{ENDIF}}
{{IF !!task.getVal('hashlist')!! != ""}}
	<h3>Assigned agents</h3>
	<div class="panel panel-default">
		<table class="table table-bordered table-nonfluid">
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Benchmark</th>
				<th>Speed</th>
				<th>Keyspace searched</th>
				<th>Time spent</th>
				<th>Cracked</th>
				<th>Last activity</th>
				<th>Action</th>
			</tr>
			{%TEMPLATE->tasks.detail.assigned%}
			{%TEMPLATE->tasks.detail.assign%}
		</table>
	</div>
	{%TEMPLATE->tasks.detail.allassigned%}
	{%TEMPLATE->tasks.detail.dispatched%}
{{ENDIF}}
{%TEMPLATE->foot%}