{{IF !!showAllAgents!!}}
	<h3>All assigned Agents (over all task time)</h3>
	<div class="panel panel-default">
		<table class="table table-bordered table-nonfluid">
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Keyspace searched</th>
				<th>Time spent</th>
				<th>Cracked</th>
				<th>Last activity</th>
			</tr>
			{{FOREACH agent,!!allAgents!!}}
				<tr>
					<td>
						{{IF !!login.getLevel()!! >= 20}}
							<a href="agents.php?id=[[agent.getVal('id')]]">[[agent.getVal('id')]]</a>
						{{ENDIF}}
						{{IF !!login.getLevel()!! < 20}}
							[[agent.getVal('id')]]
						{{ENDIF}}
					</td>
					<td>
						{{IF !!login.getLevel()!! >= 20}}
							<a href="agents.php?id=[[agent.getVal('id')]]">[[agent.getVal('name')]]</a>
						{{ENDIF}}
						{{IF !!login.getLevel()!! < 20}}
							[[agent.getVal('name')]]
						{{ENDIF}}
						{{IF !!agent.getVal('trusted')!! == 1}} 
							<img src="static/lock.gif" alt="Trusted"> 
						{{ENDIF}} 
						{{IF !!agent.getVal('working')!! == 1}}
							<img src="static/active.gif" alt="Active"> 
						{{ENDIF}} 
						{{IF !!agent.getVal('active')!! == 0}} 
							<img src="static/pause.gif" alt="Paused"> 
						{{ENDIF}}
					</td>
					<td class="num">
						{{IF !!task.getVal('keyspace')!! > 0}}
							[[agent.getVal('searched')]]
							([[Util::showperc(%%agent.getVal('searched')%%, %%task.getVal('keyspace')%%)]]%) 
						{{ENDIF}}
					</td>
					<td class="num">[[Util::sectotime(%%agent.getVal('spent')%%)]]</td>
					<td class="num">[[agent.getVal('cracked')]]</td>
					<td>
						{{IF !!agent.getVal('time')!! > 0}}
							[[date(%%config.getVal('timefmt')%%, %%agent.getVal('time')%%)]]
						{{ENDIF}}
					</td>
				</tr>
			{{ENDFOREACH}}
		</table>
	</div>
{{ENDIF}}