{%TEMPLATE->head%}
{%TEMPLATE->menu%}
<h2>User ([[htmlentities(%%user.getUsername()%%, false, "UTF-8")]])</h2>
[[message]]
<div class="panel panel-default">
	<table class="table table-bordered table-nonfluid">
		<tr>
			<th>User ID</th>
			<td>[[user.getId()]]</td>
		</tr>
		<tr>
			<th>Username</th>
			<td>[[htmlentities(%%user.getUsername()%%, false, "UTF-8")]]</td>
		</tr>
		<tr>
			<th>Email</th>
			<td>[[user.getEmail()]]</td>
		</tr>
		<tr>
			<th>Creation date</th>
			<td>[[date(%%config.getVal('timefmt')%%, %%user.getRegisteredSince()%%)]]</td>
		</tr>
		<tr>
			<th>Last login</th>
			<td>[[date(%%config.getVal('timefmt')%%, %%user.getLastLoginDate()%%)]]</td>
		</tr>
		<tr>
			<th>Enable/Disable user</th>
			<td>
				{{IF !!user.getIsValid()!! == 1}}
					User is currently enabled
					<form class='form-inline' action="users.php?id=[[user.getId()]]" method="post">
	       				<input type='hidden' name='action' value='disable'>
	       				<input type='hidden' name='user' value='[[user.getId()]]'>
	       				<input type="submit" class='btn btn-warning' value="Disable">
	       			</form>
       			{{ENDIF}}
       			{{IF !!user.getIsValid()!! != 1}}
       				User is currently disabled
					<form class='form-inline' action="users.php?id=[[user.getId()]]" method="post">
	       				<input type='hidden' name='action' value='enable'>
	       				<input type='hidden' name='user' value='[[user.getId()]]'>
	       				<input type="submit" class='btn btn-success' value="Enable">
	       			</form>
       			{{ENDIF}}
			</td>
		</tr>
		<tr>
			<th>Set users right group</th>
			<td>
				<form class='form-inline' action="users.php?id=[[user.getId()]]" method="post">
       				<input type='hidden' name='action' value='setrights'>
	       			<input type='hidden' name='user' value='[[user.getId()]]'>
       				<select name='group' class='form-control'>
       					{%TEMPLATE->users.detail.rights%}
       				</select>
       				<input type="submit" class='btn btn-default' value="Set">
       			</form>
			</td>
		</tr>
		<tr>
			<th>Set password</th>
			<td>
				<form class='form-inline' action="users.php?id=[[user.getId()]]" method="post">
       				<input type='hidden' name='action' value='setpass'>
	       			<input type='hidden' name='user' value='[[user.getId()]]'>
       				<input type='password' name='pass' class='form-control'>
       				<input type="submit" class='btn btn-default' value="Set">
       			</form>
			</td>
		</tr>
		<tr>
			<th>Delete user</th>
			<td>
				<form class='form-inline' action="users.php?id=[[user.getId()]]" method="post">
       				<input type='hidden' name='action' value='deleteuser'>
	       			<input type='hidden' name='user' value='[[user.getId()]]'>
       				<input type="submit" class='btn btn-danger' value="Delete" onclick="if(!confirm('Do you really want to delete this user? This cannot be undone!')){return false;}">
       			</form>
			</td>
		</tr>
	</table>
</div>
{%TEMPLATE->foot%}
