{%TEMPLATE->head%}
{%TEMPLATE->menu%}
<h2>All users ([[numUsers]])</h2>
[[message]]
<div class="panel panel-default">
	<table class="table table-bordered table-nonfluid">
		<tr>
			<th>ID</th>
			<th>Username</th>
			<th>Creation date</th>
			<th>Last login</th>
			<th>Email</th>
			<th>Validity</th>
			<th>Session lifetime</th>
			<th>Right group</th>
			<th>Action</th>
		</tr>
		{{FOREACH entry,!!allUsers!!}}
			<tr>
				<td>[[entry.getVal('user').getId()]]</td>
				<td>[[htmlentities(%%entry.getVal('user').getUsername()%%)]]</td>
				<td>[[date(%%config.getVal('timefmt')%%, %%entry.getVal('user').getRegisteredSince()%%)]]</td>
				<td>[[date(%%config.getVal('timefmt')%%, %%entry.getVal('user').getLastLoginDate()%%)]]</td>
				<td>[[entry.getVal('user').getEmail()]]</td>
				<td>
					{{IF !!entry.getVal('user').getIsValid()!! == 1}}
						Valid
					{{ENDIF}}
					{{IF !!entry.getVal('user').getIsValid()!! != 1}}
						Invalid/Not activated
					{{ENDIF}}
				</td>
				<td>[[entry.getVal('user').getSessionLifetime()]]</td>
				<td>[[entry.getVal('group').getGroupName()]]</td>
				<td>
					<a class='btn btn-primary' href="users.php?id=[[entry.getVal('user').getId()]]">Manage</a>
				</td>
			</tr>
		{{ENDFOREACH}}
	</table>
</div>
{%TEMPLATE->foot%}
